body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.65;
  letter-spacing: .004em;
  height: 1500px;
}

#app{
  display: block;
}

h1, h2, h3, h4, h5, h6, ol, ul, p{
  margin: 0;
  padding: 0;
}


a{
  &:hover{
    text-decoration: none;
    transition: 0.3s;
  }
}
