.footer {
  background-color: $footer-bg;
  padding-top: 47px;
  padding-bottom: 45px;

  &__copyright {
    color: #5f5f5f;
    font-family:"Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}
